﻿@model Web.Models.Category

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend style="color:white">Categories</legend>

        <div class="form-group">
            @Html.Label("Category Name", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryName)
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.Label("Category Group", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryGroupId", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryGroupId)
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-info" value="Create" />
            </div>
        </div>
        @*<legend>Category</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryName)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryGroupId, "CategoryGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryGroupId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryGroupId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>*@
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
