﻿@model IEnumerable<Web.Models.Category>

@{
    ViewBag.Title = "HD";
}
<div class="container">
    <div class="masthead">
        <br />
        <ul class="nav nav-justified" style="opacity:0.78; border-radius:10px">
            <li>@Html.ActionLink("All abstrat", "Index", "Picture", null, new { @class = "active" })</li>
            <li>@Html.ActionLink("3D", "Index", "Picture")</li>
            <li>@Html.ActionLink("Dark", "Index", "Picture")</li>
            <li>@Html.ActionLink("Fantasy", "Index", "Picture")</li>
            <li>@Html.ActionLink("Sci-fi", "Index", "Picture")</li>
            <li>@Html.ActionLink("Texture", "Index", "Picture")</li>
            <li>@Html.ActionLink("Humor", "Index", "Picture")</li>
            <li>@Html.ActionLink("Fractal", "Index", "Picture")</li>
            <li>@Html.ActionLink("Other abstrat", "Index", "Picture")</li>
        </ul>
    </div>
</div>
@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryGroup.CategoryGroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryGroup.CategoryGroupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>*@
