﻿@model Web_Wallpaper.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Registration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Registration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Avartar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Avartar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Group)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Group)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ranking)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ranking)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Archievements_Gained)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Archievements_Gained)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Points)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Points)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Profile_views)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Profile_views)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Messages_sents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Messages_sents)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Upload_views)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Upload_views)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Upload_downloads)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Upload_downloads)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Upload_favourites)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Upload_favourites)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Uploaded_wallpapers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Uploaded_wallpapers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Favourites)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Favourites)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category_editings)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category_editings)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tags_editings)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tags_editings)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Marksfordeletion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Marksfordeletion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
