﻿@model Web_Wallpaper.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.UserID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_Registration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_Registration)
            @Html.ValidationMessageFor(model => model.Date_Registration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Avartar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Avartar)
            @Html.ValidationMessageFor(model => model.Avartar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Group)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Group)
            @Html.ValidationMessageFor(model => model.Group)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ranking)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ranking)
            @Html.ValidationMessageFor(model => model.Ranking)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Archievements_Gained)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Archievements_Gained)
            @Html.ValidationMessageFor(model => model.Archievements_Gained)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Points)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Points)
            @Html.ValidationMessageFor(model => model.Points)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Profile_views)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Profile_views)
            @Html.ValidationMessageFor(model => model.Profile_views)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Messages_sents)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Messages_sents)
            @Html.ValidationMessageFor(model => model.Messages_sents)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Upload_views)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Upload_views)
            @Html.ValidationMessageFor(model => model.Upload_views)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Upload_downloads)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Upload_downloads)
            @Html.ValidationMessageFor(model => model.Upload_downloads)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Upload_favourites)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Upload_favourites)
            @Html.ValidationMessageFor(model => model.Upload_favourites)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uploaded_wallpapers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Uploaded_wallpapers)
            @Html.ValidationMessageFor(model => model.Uploaded_wallpapers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Favourites)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Favourites)
            @Html.ValidationMessageFor(model => model.Favourites)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category_editings)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category_editings)
            @Html.ValidationMessageFor(model => model.Category_editings)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tags_editings)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tags_editings)
            @Html.ValidationMessageFor(model => model.Tags_editings)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Marksfordeletion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Marksfordeletion)
            @Html.ValidationMessageFor(model => model.Marksfordeletion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
