﻿@model IEnumerable<Web_Wallpaper.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Registration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avartar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ranking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Archievements_Gained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile_views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Messages_sents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Upload_views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Upload_downloads)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Upload_favourites)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uploaded_wallpapers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Favourites)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category_editings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags_editings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marksfordeletion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Registration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avartar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ranking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Archievements_Gained)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profile_views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Messages_sents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Upload_views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Upload_downloads)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Upload_favourites)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uploaded_wallpapers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Favourites)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category_editings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags_editings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marksfordeletion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
