﻿@model Web_Wallpaper.Models.Resolution

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Resolution</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResolutionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResolutionName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResolutionGroup.ResolutionGroupName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResolutionGroup.ResolutionGroupName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ResolutionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
