﻿@model IEnumerable<Web_Wallpaper.Models.Resolution>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResolutionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResolutionGroup.ResolutionGroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResolutionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResolutionGroup.ResolutionGroupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResolutionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResolutionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResolutionID })
        </td>
    </tr>
}

</table>
