﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wallpaper4You.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="container">
        <div class="masthead">
            @Html.Partial("_LoginPartial")
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/Images/logoweb.png" alt="Logo" />
            </a><br />
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/Images/trietly.png" alt="" />
            </a>
            <ul class="nav nav-justified" style="opacity:0.85">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                <li>@Html.ActionLink("Categories", "Index", "CategoryGroup")</li>
                <li>@Html.ActionLink("Resolutions", "Index", "ResolutionGroup")</li>
                <li>@Html.ActionLink("Upload", "Create", "Picture")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <ul class="nav nav-justified" style="opacity:0.78; border-radius:10px">
                <li>@Html.ActionLink("Random", "Index", "Picture")</li>
                <li>@Html.ActionLink("Lastes", "Index", "Picture")</li>
                <li>@Html.ActionLink("Top Viewed", "Index", "Picture")</li>
                <li>@Html.ActionLink("Top Downloaded", "Index", "Picture")</li>
                <li>@Html.ActionLink("Top Rated", "Index", "Picture")</li>
                <li>@Html.ActionLink("Top Favourited", "Index", "Picture")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Designed by Nguyễn Vương Vũ</p>
        </footer>
    </div>
 
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
