﻿@model Web.Models.Resolution

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Resolution</legend>

        @Html.HiddenFor(model => model.ResolutionId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ResolutionName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResolutionName)
            @Html.ValidationMessageFor(model => model.ResolutionName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ResolutionGroupId, "ResolutionGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ResolutionGroupId", String.Empty)
            @Html.ValidationMessageFor(model => model.ResolutionGroupId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
