﻿@model IEnumerable<Web.Models.Resolution>

@{
    ViewBag.Title = "HD";
}
<div class="container">
    <div class="masthead">
        <br />
        <ul class="nav nav-justified" style="opacity:0.78; border-radius:10px">
            <li>@Html.ActionLink("All HD", "Index", "Picture", null, new { @class = "active" })</li>
            <li>@Html.ActionLink("1280x720", "Index", "Picture")</li>
            <li>@Html.ActionLink("1366x768", "Index", "Picture")</li>
            <li>@Html.ActionLink("1920x1080", "Index", "Picture")</li>
            <li>@Html.ActionLink("2560x1440", "Index", "Picture")</li>
            <li>@Html.ActionLink("4096x2304", "Index", "Picture")</li>
        </ul>
    </div>
</div>
@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResolutionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResolutionGroup.ResolutionGroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResolutionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResolutionGroup.ResolutionGroupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResolutionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResolutionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResolutionId })
        </td>
    </tr>
}

</table>*@
