﻿@model Web.Models.Archievement

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Archievement</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ArchievementName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArchievementName)
            @Html.ValidationMessageFor(model => model.ArchievementName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Point)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Point)
            @Html.ValidationMessageFor(model => model.Point)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArchievementGroupId, "ArchievementGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArchievementGroupId", String.Empty)
            @Html.ValidationMessageFor(model => model.ArchievementGroupId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
