﻿@model Web_Wallpaper.Models.Archievement

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Archievement</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArchievementName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArchievementName)
            @Html.ValidationMessageFor(model => model.ArchievementName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Point)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Point)
            @Html.ValidationMessageFor(model => model.Point)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArchievementGroupID, "ArchievementGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArchievementGroupID", String.Empty)
            @Html.ValidationMessageFor(model => model.ArchievementGroupID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
