﻿@model Web_Wallpaper.Models.Archievement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Archievement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArchievementName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArchievementName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Point)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Point)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArchievementGroup.ArchievementGroupName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArchievementGroup.ArchievementGroupName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
