﻿@model Web.Models.Comment

<div class="form-group">
    @*<div class="col-md-10">*@
        <div class="display-field">
            Post in: @Html.DisplayFor(model => model.DateCreated)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UserProfile.UserName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Content)
        </div>
    @*</div>*@
</div>