﻿@model Web.Models.Comment

@using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { id = "my-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend style="color:white">All Comment</legend>

        @*<div class="form-group">*@
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @placeholder = "Write your comment" })
                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
            </div>
        @*</div>*@
        @Html.Hidden("idpost", ViewData["idpost"])
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
}

<script src="~/Scripts/addComment.js"></script>

