﻿@model Web.Models.Picture

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Picture", null, FormMethod.Post,
                              new { enctype = "multipart/form-data" })){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend style="color:white">Picture</legend>

        <div class="form-group">
            @Html.Label("Picture Name", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PictureName, new { @class = "form-control", @placeholder = "Enter Picture Name" })
                @Html.ValidationMessageFor(model => model.PictureName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Write tags", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => new Web.Models.Tag().TagName, new { @class = "form-control", @placeholder = "Enter tags" })
                @Html.ValidationMessageFor(model => new Web.Models.Tag().TagName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Choose categories", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => new Web.Models.Category().CategoryName, new { @class = "form-control", @placeholder = "Enter categories" })
                @Html.ValidationMessageFor(model => new Web.Models.Category().CategoryName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Choose Picture", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input id="PictureUrl" title="Upload a product image"
                       type="file" name="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-info" value="Start Upload" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-warning" href="~/Picture">Cancel</a>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
