﻿@model Web.Models.Picture

@{
    ViewBag.Title = "Details";
}

<h2>Picture Detail</h2>

<fieldset>
    @*<legend>Picture</legend>*@
    <div class="display-field">
        Picture Name: @Html.DisplayFor(model => model.PictureName)
    </div>
    <div class="display-field">
        User: @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        Date Uploaded: @Html.DisplayFor(model => model.DateUploaded)
    </div>
    <div class="display-field">
        Favourites: @Html.DisplayFor(model => model.Favourites)
    </div>

    <div class="display-field">
        Downloads: @Html.DisplayFor(model => model.Downloads)
    </div>

    <div class="display-field">
        TotalRates: @Html.DisplayFor(model => model.TotalRates)
    </div>

</fieldset>
<fieldset>
    <h4 style="color:white">Categories</h4>
    @foreach (var c in Model.Categories)
    {
        @Html.ActionLink(c.CategoryName, "PictureLinkCategory/" + c.CategoryId, "Picture")
    }
</fieldset>
<fieldset>
    <h4 style="color:white">Tags:</h4>
    @foreach (var t in Model.Tags)
    {
        @Html.ActionLink(t.TagName, "PictureLinkTag/" + t.TagId, "Picture")
    }
</fieldset>
<br>
<fieldset>
    <img src="~/Images/@Model.PictureUrl" width="1150" height="700" />
</fieldset>
@Html.Partial("_addComment", new Web.Models.Comment(), ViewData)

<fieldset>
    <legend style="color:white">Comments</legend>
    <div id="result">
        @foreach (var c in Model.Comments.OrderByDescending(s => s.DateCreated).Take(10))
        {
            <div class="display-field">
                Post in: @Html.DisplayFor(s => c.DateCreated)
            </div>
            <div class="display-field">
                @Html.DisplayFor(s => c.UserProfile.UserName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(s => c.Content)
            </div>
        }
    </div>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
