﻿@model IEnumerable<Web.Models.Picture>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Pictures</h2>

    <p>
        <a class="btn btn-lg btn-primary" title="Create New" href="@Url.Action("Create","Picture")">Upload Pictures</a>
    </p>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<a class="btn btn-sm btn-default" title="Details" href="@Url.Action("Details", "Picture", new { id = item.Id })">Detail</a>*@
                    <a class="btn btn-sm btn-default" title="Delete" href="@Url.Action("Delete", "Picture", new { id = item.Id })">Delete</a>
                    <br />
                    <a href="@Url.Action("Details", "Picture", new { id = item.Id })">
                        <img src="~/Images/@item.PictureUrl" width="720" height="400" />
                    </a>
                    <br />
                    <br />
                </td>

            </tr>
        }
    </table>
</div>