﻿@model Web.Models.Category

@{
    ViewBag.Title = "Picture-Category";
}

<div class="container">
    <h2>Pictures</h2>
    <table>
        @foreach (var item in Model.Pictures)
        {
            <tr>
                <td>
                    <a class="btn btn-sm btn-default" title="Details" href="@Url.Action("Details", "Picture", new { id = item.Id })">Detail</a>
                    <a class="btn btn-sm btn-default" title="Delete" href="@Url.Action("Delete", "Picture", new { id = item.Id })">Delete</a>
                    <br />
                    <img src="~/Images/@item.PictureUrl" width="720" height="400" />
                    <br />
                    <br />
                </td>

            </tr>
        }
    </table>
</div>