﻿@model Web_Wallpaper.Models.Picture

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Picture</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PictureName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PictureName)
            @Html.ValidationMessageFor(model => model.PictureName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Favourites)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Favourites)
            @Html.ValidationMessageFor(model => model.Favourites)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Downloads)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Downloads)
            @Html.ValidationMessageFor(model => model.Downloads)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalRates)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalRates)
            @Html.ValidationMessageFor(model => model.TotalRates)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateUploaded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateUploaded)
            @Html.ValidationMessageFor(model => model.DateUploaded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserID", String.Empty)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
