﻿@model Web_Wallpaper.Models.Picture

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Picture</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PictureName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PictureName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Favourites)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Favourites)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Downloads)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Downloads)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalRates)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalRates)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUploaded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUploaded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Username)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
