﻿@model Web_Wallpaper.Models.Picture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Picture</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PictureName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PictureName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Favourites)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Favourites)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Downloads)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Downloads)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalRates)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalRates)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUploaded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUploaded)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Username)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PictureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
