﻿@model IEnumerable<Web.Models.CategoryGroup>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="masthead">
        <br />
        <ul class="nav nav-justified" style="opacity:0.78; border-radius:10px">
            <li>@Html.ActionLink("Abstract", "Index", "Category", null, new { @class = "active" })</li>
            <li>@Html.ActionLink("Animals", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("Entertainments", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("Holidays", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("Nature", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("People", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("Sports", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("Teachnology", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("Vehicles", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("World", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("Food&Drinks", "Index", "CategoryGroup")</li>
            <li>@Html.ActionLink("Others", "Index", "CategoryGroup")</li>
        </ul>
    </div>
</div>

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryGroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryGroupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
