﻿@model IEnumerable<Web.Models.ResolutionGroup>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="masthead">
        <br />
        <ul class="nav nav-justified" style="opacity:0.78; border-radius:10px">
            <li>@Html.ActionLink("High definition", "Index", "Resolution", null, new { @class = "active" })</li>
            <li>@Html.ActionLink("Widescreen", "Index", "ResolutionGroup")</li>
            <li>@Html.ActionLink("Normal", "Index", "ResolutionGroup")</li>
            <li>@Html.ActionLink("Other", "Index", "ResolutionGroup")</li>
        </ul>
    </div>
</div>
