﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Single-Member Limited Liability Companies<br />
    Thủ Đức, Hồ Chí Minh <br />
    <abbr title="Phone">Phone:</abbr>
    01642799221
</address>

<address>
    <strong>Contact:</strong>   <a href="https://facebook.com/vuongvu333" target="_blank">facebook.com/vuongvu333</a><br />
    <strong>Support:</strong> <a href="https://gmail.com" target="_blank">vuongvu333@gmail.com</a>
</address>