﻿@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="@Url.Action("Index","Home")" style="font-size:20px ; color:black; font-weight:600">Load one more page</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3">
            <a href=" #">
                <img src="~/Content/Images/Fill%20(12).jpg" width="265" height="200"/>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="~/Content/Images/Fill%20(25).jpg" width="265" height="200" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="~/Content/Images/Fill%20(26).jpg" width="265" height="200" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="~/Content/Images/Fill%20(27).jpg" width="265" height="200" alt="">
            </a>
        </div>
    </div>
    <br />
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img src="~/Content/Images/Fill%20(28).jpg" width="265" height="200" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img src="~/Content/Images/Fill%20(29).jpg" width="265" height="200" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img src="~/Content/Images/Fill%20(30).jpg" width="265" height="200" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img src="~/Content/Images/Fill%20(32).jpg" width="265" height="200" alt="">
            </a>
        </div>
    </div>
    <br />
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img src="~/Content/Images/Fill%20(33).jpg" width="265" height="200" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img src="~/Content/Images/Fill%20(34).jpg" width="265" height="200" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img src="~/Content/Images/Fill%20(36).jpg" width="265" height="200" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img src="~/Content/Images/Fill%20(37).jpg" width="265" height="200" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->


    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="@Url.Action("Index","Home")" style="font-size:20px ; color:black; font-weight:600">Load one more page</a>
                </li>
            </ul>
        </div>
    </div>
</div>
  